# Node.js dependencies
/node_modules

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables file
.env

# Vercel deploy files
.vercel

# Optional: IDE files
.vscode
.idea
